<h1>Naver Cafe</h1>

<hr>
<div class="list-group">
    <% @cafes.each do |cafe| %>
        <%= link_to cafe.title, cafe_path(cafe), class: "list-group-item list-group-item-action disabled" %>
    <% end %>
</div>
<%= link_to "ì¹´í˜ ìƒì„±", new_cafe_path, class: "btn btn-info"%>